Repository rabih-ultra-tms/Ultra-TMS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(tests): add form component tests (3 files, 35 tests)
  apps/web/components/accounting/create-settlement-form.test.tsx
  apps/web/components/accounting/invoice-form.test.tsx
  apps/web/components/accounting/payment-allocation.test.tsx
Due: eslint --fix, prettier --write

feat(tests): add card/stat component tests (2 files, 23 tests)
  apps/web/components/accounting/acc-dashboard-stats.test.tsx
  apps/web/components/accounting/invoice-detail-card.test.tsx
Due: eslint --fix, prettier --write

feat(tests): add useInvoices and usePayments hook tests (25+24 tests)
  apps/web/lib/hooks/accounting/use-accounting-dashboard.test.ts
  apps/web/lib/hooks/accounting/use-aging.test.ts
  apps/web/lib/hooks/accounting/use-invoices.test.ts
  apps/web/lib/hooks/accounting/use-payments.test.ts
  apps/web/lib/hooks/accounting/use-settlements.test.ts
  apps/web/test/mocks/hooks-accounting.ts
  apps/web/test/utils.ts
Due: eslint --fix, prettier --write

feat(tests): complete MP-03-006 accounting frontend tests (48 suites, 699 tests)
  apps/web/__tests__/accounting/accounting.test.tsx
  apps/web/__tests__/accounting/pages/aging-report.test.tsx
  apps/web/__tests__/accounting/pages/chart-of-accounts.test.tsx
  apps/web/__tests__/accounting/pages/dashboard.test.tsx
  apps/web/__tests__/accounting/pages/invoices-create.test.tsx
  apps/web/__tests__/accounting/pages/invoices-detail.test.tsx
  apps/web/__tests__/accounting/pages/invoices-edit.test.tsx
  apps/web/__tests__/accounting/pages/invoices-list.test.tsx
  apps/web/__tests__/accounting/pages/journal-entries.test.tsx
  apps/web/__tests__/accounting/pages/payables-detail.test.tsx
  apps/web/__tests__/accounting/pages/payables-list.test.tsx
  apps/web/__tests__/accounting/pages/payments-detail.test.tsx
  apps/web/__tests__/accounting/pages/payments-list.test.tsx
  apps/web/__tests__/accounting/pages/settlements-create.test.tsx
  apps/web/__tests__/accounting/pages/settlements-detail.test.tsx
  apps/web/__tests__/accounting/pages/settlements-list.test.tsx
  apps/web/__tests__/accounting/workflows/aging-report.test.tsx
  apps/web/__tests__/accounting/workflows/chart-of-accounts.test.tsx
  apps/web/__tests__/accounting/workflows/dashboard-aggregation.test.tsx
  apps/web/__tests__/accounting/workflows/data-validation.test.tsx
  apps/web/__tests__/accounting/workflows/error-recovery.test.tsx
  apps/web/__tests__/accounting/workflows/invoice-to-payment.test.tsx
  apps/web/__tests__/accounting/workflows/multi-entity-reconciliation.test.tsx
  apps/web/__tests__/accounting/workflows/payables-processing.test.tsx
  apps/web/__tests__/accounting/workflows/settlement-lifecycle.test.tsx
  apps/web/test/utils.ts
  apps/web/test/utils.tsx
  dev_docs_v3/08-sprints/master-project-plan.md
  dev_docs_v3/STATUS.md
  eslint.config.mjs
Due: eslint --fix, prettier --write

fix(routes): fix 5 broken navigation links (MP-03-011)
  apps/e2e/tests/navigation/route-verification.spec.ts
  apps/web/app/(dashboard)/operations/page.tsx
  apps/web/components/layout/user-nav.tsx
  apps/web/components/tms/loads/carrier-selector.tsx
  apps/web/components/tms/loads/load-summary-card.tsx
Due: eslint --fix, prettier --write

feat(devops): CI/CD pipeline, deploy workflow, Dependabot (MP-04-002, MP-04-011)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  apps/api/src/modules/auth/auth.service.ts
  apps/web/Dockerfile
  apps/web/next.config.js
Due: eslint --fix, prettier --write

docs: update STATUS.md and master project plan (MP-03 complete, MP-04 progress)
  dev_docs_v3/08-sprints/master-project-plan.md
  dev_docs_v3/STATUS.md
Due: prettier --write

docs(devops): validate deployment runbook + add JWT rotation runbook (MP-04-004, MP-04-010)
  dev_docs_v3/00-foundations/deployment-runbook.md
  dev_docs_v3/00-foundations/jwt-rotation-runbook.md
  dev_docs_v3/STATUS.md
Due: prettier --write

feat(command-center): add route, container, tabs, toolbar, KPI strip (MP-05-001, MP-05-002, MP-05-003)
  apps/web/app/(dashboard)/command-center/page.tsx
  apps/web/components/layout/sidebar-nav.tsx
  apps/web/components/tms/command-center/command-center-kpi-strip.tsx
  apps/web/components/tms/command-center/command-center-toolbar.tsx
  apps/web/components/tms/command-center/command-center.tsx
  apps/web/lib/config/navigation.ts
  apps/web/lib/hooks/tms/use-command-center.ts
Due: eslint --fix, prettier --write

feat(command-center): add UniversalDetailDrawer polymorphic shell (MP-05-004)
  apps/web/components/tms/command-center/universal-detail-drawer.tsx
Due: eslint --fix, prettier --write

feat(command-center): add activity feed and carrier-availability endpoints (MP-05-011)
  apps/api/src/modules/command-center/command-center.controller.ts
  apps/api/src/modules/command-center/command-center.service.ts
Due: eslint --fix, prettier --write

feat(command-center): implement Command Center module with KPIs and alerts functionality
  apps/api/src/app.module.ts
  apps/api/src/modules/command-center/command-center.module.ts
  apps/api/src/modules/command-center/dto/command-center.dto.ts
  apps/api/src/modules/command-center/dto/index.ts
  apps/web/components/command-center/command-center-skeleton.tsx
  apps/web/components/tms/command-center/alerts-panel.tsx
  apps/web/components/tms/command-center/command-center-kpi-strip.tsx
  apps/web/lib/hooks/command-center/use-command-center.ts
  apps/web/lib/stores/command-center-store.ts
  dev_docs_v3/08-sprints/master-project-plan.md
  dev_docs_v3/STATUS.md
Due: eslint --fix, prettier --write

feat(command-center): add LoadDrawerContent for load entity variant (MP-05-005)
  apps/web/components/tms/command-center/command-center.tsx
  apps/web/components/tms/command-center/load-drawer-content.tsx
  apps/web/lib/hooks/tms/use-command-center.ts
Due: eslint --fix, prettier --write

feat(command-center): add layout modes — Split, Dashboard, Focus (MP-05-008)
  apps/web/components/tms/command-center/carrier-drawer-content.tsx
  apps/web/components/tms/command-center/command-center.tsx
  apps/web/components/tms/command-center/dashboard-layout.tsx
  apps/web/components/tms/command-center/focus-layout.tsx
  apps/web/components/tms/command-center/quote-drawer-content.tsx
  apps/web/components/tms/command-center/split-layout.tsx
  dev_docs_v3/STATUS.md
Due: eslint --fix, prettier --write

feat(command-center): wire dispatch board clicks to UniversalDetailDrawer (MP-05-009)
  apps/web/components/tms/command-center/command-center.tsx
  apps/web/components/tms/dispatch/dispatch-board.tsx
  apps/web/lib/stores/command-center-store.ts
  dev_docs_v3/STATUS.md
Due: eslint --fix, prettier --write

feat(command-center): wire real-time alert system panel (MP-05-010)
  apps/web/components/tms/command-center/alerts-panel.tsx
  apps/web/components/tms/command-center/command-center-kpi-strip.tsx
  apps/web/components/tms/command-center/command-center.tsx
Due: eslint --fix, prettier --write

fix(command-center): fix alert queries and wire activity feed (MP-05-010)
  apps/api/src/modules/command-center/command-center.service.ts
  apps/web/components/tms/command-center/dashboard-layout.tsx
  apps/web/lib/hooks/command-center/use-command-center.ts
Due: eslint --fix, prettier --write

feat(command-center): implement auto-match carrier scoring engine (MP-05-012)
  apps/api/src/modules/command-center/command-center.service.ts
  apps/web/lib/hooks/command-center/use-command-center.ts
  dev_docs_v3/STATUS.md
Due: eslint --fix, prettier --write

feat(command-center): add bulk dispatch operations (MP-05-013)
  apps/api/src/modules/command-center/command-center.controller.ts
  apps/api/src/modules/command-center/command-center.service.ts
  apps/api/src/modules/command-center/dto/command-center.dto.ts
  apps/web/components/tms/command-center/bulk-action-bar.tsx
  apps/web/components/tms/command-center/command-center.tsx
  apps/web/components/tms/dispatch/dispatch-board.tsx
  apps/web/lib/hooks/command-center/use-command-center.ts
Due: eslint --fix, prettier --write

feat(command-center): complete MP-05 sprint — tests + Google Maps integration (MP-05-014, MP-05-015)
  apps/web/__tests__/tms/command-center-bulk-actions.test.tsx
  apps/web/__tests__/tms/command-center-hooks.test.tsx
  apps/web/__tests__/tms/command-center.test.tsx
  apps/web/components/tms/command-center/command-center.tsx
  apps/web/components/tms/command-center/split-layout.tsx
  apps/web/jest.config.ts
  apps/web/test/mocks/hooks-command-center.ts
  apps/web/test/utils.ts
  dev_docs_v3/STATUS.md
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: Add MP-06 Launch Ready design spec (1-week blitz, fix-first approach)
  dev_docs_v3/09-release/MP-06-LAUNCH-READY-DESIGN.md
Due: prettier --write

docs: add MP-06 detailed implementation plan (7-day blitz, 22h total effort)
  dev_docs_v3/09-release/MP-06-LAUNCH-READY-PLAN.md
Due: prettier --write

docs: add MP-06 triage baseline (performance, bundle, blockers)
  dev_docs_v3/09-release/MP-06-TRIAGE-RESULTS.md
Due: prettier --write

docs: add top 10 blocking bugs triage (ranked by severity)
  dev_docs_v3/09-release/MP-06-TRIAGE-RESULTS.md
Due: prettier --write

docs: add critical UI failure scan results (login page functional, API 500 blocks critical path)
  dev_docs_v3/09-release/MP-06-TRIAGE-RESULTS.md
Due: prettier --write

fix(api): resolve TypeScript strict mode errors in dashboard test file
  apps/api/src/modules/operations/dashboard/dashboard.service.spec.ts
Due: eslint --fix, prettier --write

fix(api): batch N+1 queries in DashboardService for Core Web Vitals (MP-06-008)
  apps/api/src/modules/operations/dashboard/dashboard.service.spec.ts
  apps/api/src/modules/operations/dashboard/dashboard.service.ts
Due: eslint --fix, prettier --write

feat(api): add compound indexes for Load, Invoice, Carrier models (MP-06-009)
  apps/api/prisma/migrations/20260311120000_add_tenant_id_to_fuel_surcharge_tier/migration.sql
  apps/api/prisma/migrations/20260313150104_add_compound_indexes/migration.sql
  apps/api/prisma/schema.prisma
Due: none

fix(security): prevent cross-tenant mutations by adding tenantId to WHERE clauses
  apps/api/src/modules/analytics/alerts.service.spec.ts
  apps/api/src/modules/analytics/alerts.service.ts
  apps/api/src/modules/carrier-portal/loads/carrier-portal-loads.service.ts
  apps/api/src/modules/contracts/rate-tables/rate-tables.service.ts
Due: eslint --fix, prettier --write

test: add smoke tests for tenant isolation and soft-delete filtering (MP-06-011)
  apps/api/src/common/smoke-tests.e2e-spec.ts
Due: eslint --fix, prettier --write

feat(web): add error boundary to dashboard and auth layouts (MP-06-012)
  apps/web/app/(auth)/layout.tsx
  apps/web/app/(dashboard)/layout.tsx
  apps/web/components/dashboard-error-boundary.tsx
  apps/web/components/error-boundary.spec.tsx
  apps/web/components/error-boundary.tsx
Due: eslint --fix, prettier --write

feat(web): add loading states to critical fetches (MP-06-014)
  apps/web/app/(dashboard)/carriers/page.tsx
  apps/web/app/(dashboard)/load-history/page.tsx
  apps/web/components/ui/spinner.tsx
  apps/web/test/data/accounting-fixtures.ts
Due: eslint --fix, prettier --write

fix(api): resolve database connection pool exhaustion in test suite
  apps/api/src/common/smoke-tests.e2e-spec.ts
  apps/api/src/modules/analytics/alerts.service.spec.ts
  apps/api/test/setup.ts
  apps/web/__tests__/accounting/pages/chart-of-accounts.test.tsx
  apps/web/__tests__/accounting/pages/invoices-detail.test.tsx
  apps/web/__tests__/accounting/pages/invoices-edit.test.tsx
  apps/web/__tests__/accounting/pages/journal-entries.test.tsx
  apps/web/__tests__/accounting/pages/payables-detail.test.tsx
  apps/web/__tests__/accounting/pages/payments-detail.test.tsx
  apps/web/__tests__/accounting/pages/settlements-create.test.tsx
  apps/web/__tests__/accounting/pages/settlements-detail.test.tsx
  apps/web/__tests__/accounting/workflows/aging-report.test.tsx
  apps/web/__tests__/accounting/workflows/chart-of-accounts.test.tsx
  apps/web/__tests__/accounting/workflows/invoice-to-payment.test.tsx
  apps/web/__tests__/accounting/workflows/payables-processing.test.tsx
  apps/web/__tests__/accounting/workflows/settlement-lifecycle.test.tsx
  apps/web/__tests__/sales/quote-form.test.tsx
  apps/web/__tests__/tms/command-center.test.tsx
  apps/web/__tests__/tms/public-tracking.test.tsx
  apps/web/components/accounting/acc-dashboard-stats.test.tsx
  apps/web/components/accounting/invoice-detail-card.test.tsx
Due: eslint --fix, prettier --write

docs(mp-06): document sprint completion and update project status
  dev_docs_v3/08-sprints/master-project-plan.md
  dev_docs_v3/STATUS.md
Due: prettier --write

fix(security): Cache module hardening — tenant isolation, soft-delete filtering
  apps/api/src/modules/cache/config/cache-config.service.ts
  apps/api/src/modules/cache/invalidation/invalidation.service.ts
  apps/api/src/modules/cache/locking/distributed-lock.service.ts
  apps/api/src/modules/cache/rate-limiting/rate-limit.service.spec.ts
  apps/api/src/modules/cache/rate-limiting/rate-limit.service.ts
  apps/api/src/modules/cache/stats/cache-stats.service.ts
Due: eslint --fix, prettier --write

fix(security): Cross-tenant mutation hardening in Auth and Accounting modules
  apps/api/src/modules/accounting/services/journal-entries.service.ts
  apps/api/src/modules/accounting/services/payments-made.service.ts
  apps/api/src/modules/auth/profile.controller.ts
  apps/api/src/modules/auth/profile.service.spec.ts
  apps/api/src/modules/auth/profile.service.ts
Due: eslint --fix, prettier --write

fix(security): add method-level @Roles() decorators to data-modifying leads endpoints
  apps/api/src/modules/load-board/leads/leads.controller.ts
Due: eslint --fix, prettier --write

fix(security): encrypt plaintext API keys in Factoring service
  apps/api/src/modules/factoring/companies/factoring-companies.service.ts
Due: eslint --fix, prettier --write

docs(mp-07): add design spec for documents + communication sprint
  docs/superpowers/specs/2026-03-13-mp-07-documents-communication-design.md
Due: prettier --write

docs(mp-07): add comprehensive implementation plan with Week 1 + Week 2 tasks
  docs/superpowers/plans/2026-03-13-mp-07-docs-communication-implementation.md
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs})) or (any of: *.{json,md,yaml,yml})
