Repository rabih-ultra-tms/Ultra-TMS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

feat(agents): add agent detail page with overview, agreements, customers, commissions tabs (COM-FE4/FE5/FE6/FE7)
  apps/web/app/(dashboard)/agents/[id]/page.tsx
  apps/web/components/agents/agent-agreements-tab.tsx
  apps/web/components/agents/agent-commissions-tab.tsx
  apps/web/components/agents/agent-customers-tab.tsx
  apps/web/components/agents/agent-overview-tab.tsx
Due: eslint --fix, prettier --write

fix: resolve remaining STATUS.md conflict markers
  dev_docs_v3/STATUS.md
Due: prettier --write

docs: mark Sprint 04 as COMPLETE — all tasks done (2026-03-12)
  dev_docs_v3/08-sprints/sprint-04-commission-build.md
  dev_docs_v3/STATUS.md
Due: prettier --write

docs: update status
  dev_docs_v3/08-sprints/master-project-plan.md
  dev_docs_v3/STATUS.md
Due: prettier --write

fix(security): MP-01 security hardening — 12 tasks across 20 files
  .github/workflows/ci.yml
  apps/api/src/modules/accounting/services/payments-received.service.ts
  apps/api/src/modules/cache/invalidation/invalidation.service.ts
  apps/api/src/modules/cache/locking/distributed-lock.service.ts
  apps/api/src/modules/cache/management/cache-management.service.ts
  apps/api/src/modules/cache/rate-limiting/rate-limit.service.ts
  apps/api/src/modules/cache/stats/cache-stats.service.ts
  apps/api/src/modules/customer-portal/auth/portal-auth.controller.ts
  apps/api/src/modules/customer-portal/auth/portal-auth.service.spec.ts
  apps/api/src/modules/customer-portal/auth/portal-auth.service.ts
  apps/api/src/modules/customer-portal/guards/portal-auth.guard.ts
  apps/api/src/modules/integration-hub/services/encryption.service.ts
  apps/api/src/modules/rate-intelligence/providers/dto/create-provider-config.dto.ts
  apps/api/src/modules/rate-intelligence/providers/providers.service.spec.ts
  apps/api/src/modules/sales/sales-performance.service.ts
  apps/api/src/modules/search/elasticsearch/elasticsearch.service.ts
  apps/api/src/modules/search/indexing/queue-processor.service.ts
  apps/api/test/customer-portal.e2e-spec.ts
  apps/web/lib/api/portal-client.ts
  turbo.json
Due: eslint --fix, prettier --write

docs: update project status and MP-01 progress in STATUS.md
  dev_docs_v3/STATUS.md
Due: prettier --write

fix(security): add explicit RolesGuard to 38 data-modifying controllers (MP-01-003)
  apps/api/src/modules/config/business-hours/business-hours.controller.ts
  apps/api/src/modules/config/email-templates/email-templates.controller.ts
  apps/api/src/modules/config/features/features.controller.ts
  apps/api/src/modules/config/preferences/preferences.controller.ts
  apps/api/src/modules/config/sequences/sequences.controller.ts
  apps/api/src/modules/config/system/system-config.controller.ts
  apps/api/src/modules/config/templates/templates.controller.ts
  apps/api/src/modules/config/tenant/tenant-config.controller.ts
  apps/api/src/modules/load-board/accounts/accounts.controller.ts
  apps/api/src/modules/load-board/analytics/analytics.controller.ts
  apps/api/src/modules/load-board/leads/leads.controller.ts
  apps/api/src/modules/load-board/posting/posting.controller.ts
  apps/api/src/modules/scheduler/executions/executions.controller.ts
  apps/api/src/modules/scheduler/jobs/jobs.controller.ts
  apps/api/src/modules/scheduler/reminders/reminders.controller.ts
  apps/api/src/modules/scheduler/tasks/tasks.controller.ts
  apps/api/src/modules/scheduler/templates/templates.controller.ts
  dev_docs_v3/05-audit/ROLESGUARD-GAP-MATRIX.md
  dev_docs_v3/08-sprints/master-project-plan.md
  dev_docs_v3/STATUS.md
Due: eslint --fix, prettier --write

fix(security): harden tenant isolation, auth, and credential exposure across 7 MP-01 tasks
  apps/api/src/modules/accounting/controllers/chart-of-accounts.controller.ts
  apps/api/src/modules/accounting/controllers/journal-entries.controller.ts
  apps/api/src/modules/accounting/controllers/payments-made.controller.ts
  apps/api/src/modules/accounting/controllers/payments-received.controller.ts
  apps/api/src/modules/accounting/controllers/payments.controller.ts
  apps/api/src/modules/accounting/controllers/quickbooks.controller.ts
  apps/api/src/modules/accounting/controllers/settlements.controller.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/customer-portal/auth/portal-auth.controller.ts
  apps/api/src/modules/customer-portal/auth/portal-auth.service.ts
  apps/api/src/modules/edi/trading-partners/trading-partners.service.ts
  apps/api/src/modules/factoring/companies/factoring-companies.service.ts
  apps/api/src/modules/search/admin/admin.service.ts
  dev_docs_v3/08-sprints/master-project-plan.md
  dev_docs_v3/STATUS.md
Due: eslint --fix, prettier --write

fix(security): MP-01-017 & MP-01-021 — FuelSurchargeTier tenant scope + HttpOnly cookie migration
  apps/api/prisma/migrations/20260312000000_add_tenant_id_to_fuel_surcharge_tier_unique_constraint/migration.sql
  apps/api/prisma/schema.prisma
  apps/web/app/(auth)/login/page.tsx
  apps/web/app/(auth)/superadmin/login/page.tsx
  apps/web/lib/hooks/use-auth.ts
Due: eslint --fix, prettier --write

fix(security): MP-01-025 & MP-01-026 — Webhook authentication hardening
  apps/api/src/modules/communication/sms.controller.ts
  apps/api/src/modules/communication/sms.service.ts
  apps/api/src/modules/crm/hubspot.controller.ts
Due: eslint --fix, prettier --write

fix(security): MP-01-027 — Storage path traversal protection
  apps/api/src/modules/communication/sms.controller.ts
  apps/api/src/modules/storage/local-storage.service.spec.ts
  apps/api/src/modules/storage/local-storage.service.ts
Due: eslint --fix, prettier --write

fix(security): MP-01-028 — Replace Redis KEYS with SCAN iterator
  apps/api/src/modules/redis/redis.service.ts
Due: eslint --fix, prettier --write

fix(security): MP-01-029 — Verify CSRF protection with SameSite cookies
  apps/api/src/common/middleware/csrf.middleware.spec.ts
Due: eslint --fix, prettier --write

docs(security): MP-01-030 verified — All 30 security tasks COMPLETE
  dev_docs_v3/STATUS.md
Due: prettier --write

chore: add .worktrees/ to .gitignore for isolated development
  .gitignore
Due: none

feat(sales): MP-02-005 enforce 5% minimum margin on quotes
  apps/api/src/modules/sales/__tests__/enforce-minimum-margin.spec.ts
  apps/api/src/modules/sales/quotes.service.ts
  apps/web/__tests__/sales/quote-form.test.tsx
Due: eslint --fix, prettier --write

feat(tms): MP-02-010 public shipment tracking endpoint
  apps/api/src/modules/tms/public-tracking.controller.spec.ts
  apps/web/app/track/[code]/page.tsx
  apps/web/app/track/layout.tsx
  apps/web/app/track/page.tsx
Due: eslint --fix, prettier --write

fix: resolve remaining 32 TypeScript type errors
  apps/api/src/common/middleware/csrf.middleware.spec.ts
  apps/api/src/main.ts
  apps/api/src/modules/accounting/controllers/invoices.controller.spec.ts
  apps/api/src/modules/accounting/controllers/settlements.controller.spec.ts
  apps/api/src/modules/accounting/services/invoices.service.spec.ts
  apps/api/src/modules/contracts/contracts/contracts.service.spec.ts
  apps/api/src/modules/crm/hubspot.controller.ts
  apps/api/src/modules/documents/controllers/documents.controller.ts
  apps/api/src/modules/tms/loads.controller.spec.ts
  apps/api/src/modules/tms/orders.controller.spec.ts
  apps/api/src/modules/tms/orders.service.spec.ts
Due: eslint --fix, prettier --write

fix(sales): consolidate margin check, remove redundant cron, mark MP-02-005/006/010 done
  apps/api/src/modules/sales/dto/create-quote.dto.ts
  apps/api/src/modules/sales/quote-expiry.cron.ts
  apps/api/src/modules/sales/quotes.service.ts
  apps/api/src/modules/sales/sales.module.ts
  dev_docs_v3/STATUS.md
Due: eslint --fix, prettier --write

feat(mp-02): complete all remaining MP-02 tasks — notification hydration, settlement page, verification of auto-calc and soft-delete
  apps/web/app/(dashboard)/accounting/settlements/new/page.tsx
  apps/web/lib/hooks/use-notifications.ts
  dev_docs_v3/STATUS.md
Due: eslint --fix, prettier --write

fix(MP-03-011): resolve hydration mismatch in commission reps detail + improve reset-password loading state
  apps/web/app/(auth)/reset-password/page.tsx
  apps/web/app/(dashboard)/commissions/reps/[id]/rep-detail-client.tsx
Due: eslint --fix, prettier --write

feat(MP-03-004): add RolesGuard integration tests for financial controllers
  apps/api/test/financial-rolesguard.e2e-spec.ts
Due: eslint --fix, prettier --write

feat(MP-03-005): add DashboardService unit tests with 21 test cases
  apps/api/src/modules/operations/dashboard/dashboard.service.spec.ts
Due: eslint --fix, prettier --write

feat(MP-03-008): add soft-delete verification tests - core filtering tests
  apps/api/test/soft-delete-verification.e2e-spec.ts
Due: eslint --fix, prettier --write

feat(MP-03-009): add webhook integration tests - 9 passing tests
  apps/api/test/webhooks.e2e-spec.ts
Due: eslint --fix, prettier --write

spec(MP-03-006): accounting frontend testing design
  docs/superpowers/specs/2026-03-13-accounting-frontend-tests-design.md
Due: prettier --write

chore: mark MP-03-006 spec as written
  dev_docs_v3/08-sprints/master-project-plan.md
Due: prettier --write

docs(MP-03): mark tasks 004, 005, 007, 008, 009 as DONE
  dev_docs_v3/08-sprints/master-project-plan.md
Due: prettier --write

plan(MP-03-006): detailed implementation plan for accounting frontend tests
  docs/superpowers/plans/2026-03-13-accounting-frontend-tests.md
Due: prettier --write

docs: update MP-03 sprint status in STATUS.md and master plan
  dev_docs_v3/08-sprints/master-project-plan.md
  dev_docs_v3/STATUS.md
Due: prettier --write

test(MP-03-006): add accounting test fixtures with mock data for invoices, settlements, payments, and chart of accounts
  apps/web/test/data/accounting-fixtures.ts
Due: eslint --fix, prettier --write

test(MP-03-006): add MSW handlers for accounting API endpoints - invoices, settlements, payments, and chart of accounts
  apps/web/test/mocks/handlers/accounting.ts
Due: eslint --fix, prettier --write

test(MP-03-006): extend hooks-accounting mock with complete data and all accounting hooks
  apps/web/test/mocks/hooks-accounting.ts
Due: eslint --fix, prettier --write

test(MP-03-006): integrate accounting handlers into MSW handler index
  apps/web/test/mocks/handlers/index.ts
Due: eslint --fix, prettier --write

feat(tests): add status badge component tests (4 files, 16 tests)
  apps/web/components/accounting/invoice-status-badge.test.tsx
  apps/web/components/accounting/journal-entry-status-badge.test.tsx
  apps/web/components/accounting/payment-status-badge.test.tsx
  apps/web/components/accounting/settlement-status-badge.test.tsx
Due: eslint --fix, prettier --write

feat(MP-02): complete remaining tasks - wire enforceMinimumMargin and notification API
  apps/api/src/modules/sales/quotes.service.ts
  apps/web/lib/hooks/use-notifications.ts
  dev_docs_v3/08-sprints/master-project-plan.md
  dev_docs_v3/STATUS.md
Due: eslint --fix, prettier --write

feat(tests): add table component tests (6 files, 42 tests)
  apps/web/components/accounting/chart-of-accounts-table.test.tsx
  apps/web/components/accounting/invoices-table.test.tsx
  apps/web/components/accounting/journal-entries-table.test.tsx
  apps/web/components/accounting/payables-table.test.tsx
  apps/web/components/accounting/payments-table.test.tsx
  apps/web/components/accounting/settlement-table.test.tsx
Due: eslint --fix, prettier --write

feat(tests): add filter component tests (3 files, 27 tests)
  apps/web/components/accounting/invoice-filters.test.tsx
  apps/web/components/accounting/payable-filters.test.tsx
  apps/web/components/accounting/payment-filters.test.tsx
Due: eslint --fix, prettier --write
