Repository rabih-ultra-tms/Ultra-TMS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

feat(env): add example environment configuration and docker-compose setup
  .env.example
  docker-compose.yml
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

feat(api): initialize Ultra TMS API with NestJS and Prisma ORM
  apps/api/.env.example
  apps/api/.gitignore
  apps/api/README.md
  apps/api/eslint.config.mjs
  apps/api/package.json
  apps/api/prisma/migrations/20260102163800_add_tenant_model/migration.sql
  apps/api/prisma/migrations/20260102163905_add_user_model/migration.sql
  apps/api/prisma/migrations/migration_lock.toml
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
  apps/api/src/app.module.ts
  apps/api/src/main.ts
  apps/api/src/prisma.service.ts
  apps/api/tsconfig.json
  docker-compose.yml
  pnpm-lock.yaml
  scripts/init-databases.sql
  turbo.json
Due: eslint --fix, prettier --write

feat(gitignore): add TECH_STACK.md to .gitignore
  .gitignore
Due: none

feat: Add development progress tracker HTML page
  dev_docs/progress-tracker.html
Due: none

feat: Add Load Board service module
  apps/api/prisma/migrations/20260109131046_add_accounting_service/migration.sql
  apps/api/prisma/migrations/20260109132701_add_load_board/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/modules/accounting/accounting.module.ts
  apps/api/src/modules/accounting/controllers/chart-of-accounts.controller.ts
  apps/api/src/modules/accounting/controllers/index.ts
  apps/api/src/modules/accounting/controllers/invoices.controller.ts
  apps/api/src/modules/accounting/controllers/journal-entries.controller.ts
  apps/api/src/modules/accounting/controllers/payments-made.controller.ts
  apps/api/src/modules/accounting/controllers/payments-received.controller.ts
  apps/api/src/modules/accounting/controllers/settlements.controller.ts
  apps/api/src/modules/accounting/dto/apply-payment.dto.ts
  apps/api/src/modules/accounting/dto/create-chart-of-account.dto.ts
  apps/api/src/modules/accounting/dto/create-invoice.dto.ts
  apps/api/src/modules/accounting/dto/create-journal-entry.dto.ts
  apps/api/src/modules/accounting/dto/create-payment-made.dto.ts
  apps/api/src/modules/accounting/dto/create-payment-received.dto.ts
  apps/api/src/modules/accounting/dto/create-settlement.dto.ts
  apps/api/src/modules/accounting/dto/index.ts
  apps/api/src/modules/accounting/services/chart-of-accounts.service.ts
  apps/api/src/modules/accounting/services/index.ts
  apps/api/src/modules/accounting/services/invoices.service.ts
  apps/api/src/modules/accounting/services/journal-entries.service.ts
  apps/api/src/modules/accounting/services/payments-made.service.ts
  apps/api/src/modules/accounting/services/payments-received.service.ts
  apps/api/src/modules/accounting/services/settlements.service.ts
  apps/api/src/modules/load-board/controllers/index.ts
  apps/api/src/modules/load-board/controllers/load-bids.controller.ts
  apps/api/src/modules/load-board/controllers/load-postings.controller.ts
  apps/api/src/modules/load-board/controllers/load-tenders.controller.ts
  apps/api/src/modules/load-board/dto/create-load-bid.dto.ts
  apps/api/src/modules/load-board/dto/create-load-posting.dto.ts
  apps/api/src/modules/load-board/dto/create-load-tender.dto.ts
  apps/api/src/modules/load-board/dto/index.ts
  apps/api/src/modules/load-board/load-board.module.ts
  apps/api/src/modules/load-board/services/index.ts
  apps/api/src/modules/load-board/services/load-bids.service.ts
  apps/api/src/modules/load-board/services/load-postings.service.ts
  apps/api/src/modules/load-board/services/load-tenders.service.ts
Due: eslint --fix, prettier --write

feat: Add Commission module with plans, entries, and payouts
  apps/api/prisma/migrations/20260109134056_add_commission/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/modules/commission/commission.module.ts
  apps/api/src/modules/commission/controllers/commission-entries.controller.ts
  apps/api/src/modules/commission/controllers/commission-payouts.controller.ts
  apps/api/src/modules/commission/controllers/commission-plans.controller.ts
  apps/api/src/modules/commission/controllers/index.ts
  apps/api/src/modules/commission/dto/create-commission-entry.dto.ts
  apps/api/src/modules/commission/dto/create-commission-payout.dto.ts
  apps/api/src/modules/commission/dto/create-commission-plan.dto.ts
  apps/api/src/modules/commission/dto/create-user-commission-assignment.dto.ts
  apps/api/src/modules/commission/dto/index.ts
  apps/api/src/modules/commission/services/commission-entries.service.ts
  apps/api/src/modules/commission/services/commission-payouts.service.ts
  apps/api/src/modules/commission/services/commission-plans.service.ts
  apps/api/src/modules/commission/services/index.ts
Due: eslint --fix, prettier --write

feat: Add Documents module with file management and templates
  apps/api/prisma/migrations/20260109140518_add_documents/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/modules/documents/controllers/document-folders.controller.ts
  apps/api/src/modules/documents/controllers/document-templates.controller.ts
  apps/api/src/modules/documents/controllers/documents.controller.ts
  apps/api/src/modules/documents/controllers/index.ts
  apps/api/src/modules/documents/documents.module.ts
  apps/api/src/modules/documents/dto/create-document-folder.dto.ts
  apps/api/src/modules/documents/dto/create-document-share.dto.ts
  apps/api/src/modules/documents/dto/create-document-template.dto.ts
  apps/api/src/modules/documents/dto/create-document.dto.ts
  apps/api/src/modules/documents/dto/generate-document.dto.ts
  apps/api/src/modules/documents/dto/index.ts
  apps/api/src/modules/documents/services/document-folders.service.ts
  apps/api/src/modules/documents/services/document-templates.service.ts
  apps/api/src/modules/documents/services/documents.service.ts
  apps/api/src/modules/documents/services/index.ts
Due: eslint --fix, prettier --write

docs: Update progress tracker - 9 modules complete (292 endpoints)
  dev_docs/progress-tracker.html
Due: none

fix: resolve build errors - add missing dependencies and fix type issues
  apps/api/package.json
  apps/api/src/modules/documents/services/document-folders.service.ts
  apps/web/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

web: fix carriers page JSX parsing error; move filtering/pagination logic out of JSX, fix selects, remove duplicate Pagination tag
  apps/web/app/(dashboard)/carriers/page.tsx
  apps/web/components/ui/Pagination.tsx
Due: eslint --fix, prettier --write

feat(communication): implement Communication Service backend
  apps/api/prisma/migrations/20260109195305_add_communication_models/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/modules/communication/communication.module.ts
  apps/api/src/modules/communication/dto/create-notification.dto.ts
  apps/api/src/modules/communication/dto/create-template.dto.ts
  apps/api/src/modules/communication/dto/index.ts
  apps/api/src/modules/communication/dto/send-email.dto.ts
  apps/api/src/modules/communication/dto/send-sms.dto.ts
  apps/api/src/modules/communication/dto/update-preferences.dto.ts
  apps/api/src/modules/communication/dto/update-template.dto.ts
  apps/api/src/modules/communication/email.controller.ts
  apps/api/src/modules/communication/email.service.ts
  apps/api/src/modules/communication/notifications.controller.ts
  apps/api/src/modules/communication/notifications.service.ts
  apps/api/src/modules/communication/preferences.controller.ts
  apps/api/src/modules/communication/preferences.service.ts
  apps/api/src/modules/communication/providers/index.ts
  apps/api/src/modules/communication/providers/sendgrid.provider.ts
  apps/api/src/modules/communication/providers/twilio.provider.ts
  apps/api/src/modules/communication/sms.controller.ts
  apps/api/src/modules/communication/sms.service.ts
  apps/api/src/modules/communication/templates.controller.ts
  apps/api/src/modules/communication/templates.service.ts
  dev_docs/11-ai-dev/next-service-prompt.md
Due: eslint --fix, prettier --write

docs: update progress tracker for Communication Service
  dev_docs/progress-tracker.html
Due: none

feat(crm): Complete CRM API with 35 endpoints
  apps/api/src/modules/crm/activities.controller.ts
  apps/api/src/modules/crm/activities.service.ts
  apps/api/src/modules/crm/companies.controller.ts
  apps/api/src/modules/crm/companies.service.ts
  apps/api/src/modules/crm/contacts.controller.ts
  apps/api/src/modules/crm/contacts.service.ts
  apps/api/src/modules/crm/crm.module.ts
  apps/api/src/modules/crm/hubspot.controller.ts
  apps/api/src/modules/crm/hubspot.service.ts
  apps/api/src/modules/crm/opportunities.controller.ts
  apps/api/src/modules/crm/opportunities.service.ts
Due: eslint --fix, prettier --write

docs: Update progress tracker - CRM API complete (11/38 services, 387 endpoints)
  dev_docs/progress-tracker.html
Due: none

fix: update Foundation phase percentage and remove milestone completion check
  dev_docs/progress-tracker.html
Due: none

feat(sales): Complete Sales Service API implementation with 38 endpoints
  apps/api/package.json
  apps/api/prisma/migrations/20260110002024_fix_standards_compliance/migration.sql
  apps/api/prisma/migrations/20260110002612_fix_standards_compliance_part1/migration.sql
  apps/api/prisma/migrations/20260110003235_fix_standards_compliance_part2/migration.sql
  apps/api/prisma/migrations/20260110004636_add_pending_services_models/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed-data.ts
  apps/api/prisma/seed.ts
  apps/api/src/app.module.ts
  apps/api/src/modules/sales/accessorial-rates.controller.ts
  apps/api/src/modules/sales/accessorial-rates.service.ts
  apps/api/src/modules/sales/dto/accessorial-rate.dto.ts
  apps/api/src/modules/sales/dto/calculate-rate.dto.ts
  apps/api/src/modules/sales/dto/index.ts
  apps/api/src/modules/sales/dto/lane-rate.dto.ts
  apps/api/src/modules/sales/dto/quick-quote.dto.ts
  apps/api/src/modules/sales/dto/sales-quota.dto.ts
  apps/api/src/modules/sales/quotes.controller.ts
  apps/api/src/modules/sales/quotes.service.ts
  apps/api/src/modules/sales/rate-calculation.service.ts
  apps/api/src/modules/sales/rate-contracts.controller.ts
  apps/api/src/modules/sales/rate-contracts.service.ts
  apps/api/src/modules/sales/sales-performance.controller.ts
  apps/api/src/modules/sales/sales-performance.service.ts
  apps/api/src/modules/sales/sales.module.ts
  dev_docs/progress-tracker.html
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: Implement Cache, Help Desk, and Feedback services with complete schema and seeding
  apps/api/prisma/clean-cache.ts
  apps/api/prisma/migrations/20260110135732_add_cache_helpdesk_feedback_tables/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed-new-services.ts
  apps/api/prisma/seed/cache.ts
  apps/api/prisma/seed/feedback.ts
  apps/api/prisma/seed/help-desk.ts
  dev_docs/progress-tracker.html
Due: eslint --fix, prettier --write

feat: Implement Feedback Service API with NPS surveys, custom surveys, feature requests, and general feedback management
  dev_docs/11-ai-dev/api-dev-prompts/00-index.md
  dev_docs/11-ai-dev/api-dev-prompts/00-verify-existing-services.md
  dev_docs/11-ai-dev/api-dev-prompts/01-tms-core-api.md
  dev_docs/11-ai-dev/api-dev-prompts/02-carrier-api.md
  dev_docs/11-ai-dev/api-dev-prompts/03-credit-api.md
  dev_docs/11-ai-dev/api-dev-prompts/04-claims-api.md
  dev_docs/11-ai-dev/api-dev-prompts/05-customer-portal-api.md
  dev_docs/11-ai-dev/api-dev-prompts/06-carrier-portal-api.md
  dev_docs/11-ai-dev/api-dev-prompts/07-contracts-api.md
  dev_docs/11-ai-dev/api-dev-prompts/08-agent-api.md
  dev_docs/11-ai-dev/api-dev-prompts/09-factoring-internal-api.md
  dev_docs/11-ai-dev/api-dev-prompts/10-edi-api.md
  dev_docs/11-ai-dev/api-dev-prompts/11-safety-api.md
  dev_docs/11-ai-dev/api-dev-prompts/12-load-board-external-api.md
  dev_docs/11-ai-dev/api-dev-prompts/13-rate-intelligence-api.md
  dev_docs/11-ai-dev/api-dev-prompts/14-analytics-api.md
  dev_docs/11-ai-dev/api-dev-prompts/15-workflow-api.md
  dev_docs/11-ai-dev/api-dev-prompts/16-integration-hub-api.md
  dev_docs/11-ai-dev/api-dev-prompts/17-search-api.md
  dev_docs/11-ai-dev/api-dev-prompts/18-audit-api.md
  dev_docs/11-ai-dev/api-dev-prompts/19-config-api.md
  dev_docs/11-ai-dev/api-dev-prompts/20-scheduler-api.md
  dev_docs/11-ai-dev/api-dev-prompts/21-cache-api.md
  dev_docs/11-ai-dev/api-dev-prompts/22-hr-api.md
  dev_docs/11-ai-dev/api-dev-prompts/23-help-desk-api.md
  dev_docs/11-ai-dev/api-dev-prompts/24-feedback-api.md
Due: prettier --write

feat: integrate Elasticsearch for search indexing and reindexing
  .env.example
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/modules/search/admin/admin.controller.ts
  apps/api/src/modules/search/admin/admin.service.ts
  apps/api/src/modules/search/elasticsearch/elasticsearch.service.ts
  apps/api/src/modules/search/indexing/index-manager.service.ts
  apps/api/src/modules/search/indexing/queue-processor.service.ts
  dev_docs/progress-tracker.html
  docker-compose.yml
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write
